<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/commonStyles.css}">
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
<head>
  <meta charset="UTF-8">
  <title>Administración de cargos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div th:replace="comun/menu.html"></div>
<h3>¡Hola, <span th:text="${usuario.empleado.nombre} + ' ' + ${usuario.empleado.apellido}"></span>! Tu espacio de gestión está listo.😊  </h3>
<div class="containerDiv">
  <h1>Listado de Pagos</h1>
  <div class="table-content card-glass">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id de Pago </th>
        <th>Fecha de pago</th>
        <th>Metodo de pago</th>
        <th>Monto de pago</th>
        <th>Huesped pagador </th>

        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="pago : ${listaPagos}">
        <td th:text="${pago.getIdPago()}"></td>
        <td th:text="${pago.getFechaPago()}"></td>
        <td th:text="${pago.getMetodoPago()()}"></td>
        <td th:text="${pago.getMonto()}"></td>
        <td th:text="${pago.reserva.getHuesped()}"></td>
        <td>
          <a th:href="@{/proveedores/actualizarCargo/{id}(id=${cargo.getIdCargo()})}" class="btn btn-primary">Actualizar</a>
          <a th:href="@{/proveedores/eliminarCargo/{id}(id=${cargo.getIdCargo()})}" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>